/* 基本设置 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;}
body { 
    /* background-color:#f1efe3; */
    line-height: 1;
}

body { 
    font:12px/1 "\u5b8b\u4f53", Tahoma,  sans-serif; 
    color:#333;
    font-family: "Microsoft YaHei";
    font-family: "SimSun";
}

a { color:#333; 
    text-decoration:none;
}



a:hover { 
    color:#cd0200;
}

.wrapper .inner { 
    width:1000px; 
    margin:0 auto;
}

.wrapper {

    width: 100%;
    margin: 0 auto ;
}

/* 页眉区 */
header {
    height: 110px;
    background-image: url(../img/森林字.jpg);
    background-size:1535px 110px;
    width: 100%;
}

/* 菜单栏 */
#nav {
    background-color: #eee8d7;
    height: 42px;
}

#nav .nav_name {
    height: 42px;
}

#nav .nav_name a{
    font-size: 16px;
    font-weight: normal;
    color: rgb(61, 61, 61);
    font-family: "Microsoft Yahei";

}

#nav .nav_name .item-name {
    padding: 0 68px;
    height: 42px;
    line-height: 41px;
    display: inline-block;
}

#nav .nav_name  .item-name:hover{ 
    background:#b1d9f3;
}


/* 正文部分 */
#cont1 .cont1-1 {
    border: 2px solid #fbfcfd;
    box-shadow: #e6e6e6 0px 0px 15px;
    background-color: #fff;

    padding: 20px;
    margin-top: 20px ;
    margin-bottom: 20px ;
}

#cont1 h3 {
    font-style: italic;
    font-weight: 900;
    color: #265b97;
    font-size: 30px;
    text-align: center;
}


#cont2 .cont2-1 {
    height: 420px;
}

/* 左边区域 */
#cont2 .cont2-1 .cont2-1-left {
    float: left;
    width: 580px;
    height: 100%;
    overflow: hidden;
    box-shadow: #e6e6e6 0px 0px 15px;
}

#cont2 .cont2-1 .cont2-1-left .text {
    font-weight: 900;
    font-size: 20px;    
    text-align: center;
}

/* 右边区域 */
#cont2 .cont2-1 .cont2-1-right {
    float: right;
    width: 400px;
    height: 100%;
    position: relative;
    box-shadow: #e6e6e6 0px 0px 15px;
}

#cont2 .cont2-1 .cont2-1-right .cont2-r-1 {
    padding: 20px 20px 10px 20px;
    text-align: center;
}

#cont2 .cont2-1 .cont2-1-right .cont2-r-2 {
    margin: 0 20px 10px 20px;
}

#cont2 .cont2-1 .cont2-1-right .cont2-r-2 p {
    font-size: 15px;
    line-height: 20px;
    text-indent: 2em;
}





/* 图片滚动区域 */
#cont3 .cont3-1 {
    
    margin-top: 20px;
    margin-bottom: 20px;
    height: 390px;
    padding: 20px;

    border: 2px solid #fbfcfd;
    box-shadow: #e6e6e6 0px 0px 15px;
    background-color: #fff;
}

/* 图片浮动大小比例 */

.pic {
    width: 580px;
}

.pic-2 {
    width: 600px;
}

.pic-3 {
    width: 580px;
}

.pic-4 {
    width: 680px;
}

.pic-5 {
    width: 600px;
}





/* 页脚 */
.footer {
    background: rgb(226, 226, 226);
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    clear: both;
}

#copyright-note {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    color: #7e7d7d;
}

.footer .zzh {
    padding-top: 24px;
    padding-bottom: 0;
    padding-bottom: 20px;
}

.footer .to-top {
    float: right;
}

.footer a {
    text-decoration: none;
    color: #0274BE;
}

.row {
    width: 95%;
}

.to {
    margin-left: 55px;
}